.shuriken {
  position: fixed;
  display: inline-block;
  animation-name: rotating;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  -webkit-animation-name: rotating;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}


@keyframes rotating {
  from {
    transform: translate(-100px, 40vh) rotate(0deg);
  }

  to {
    transform: translate(-100px, 40vh) rotate(180deg);
  }

}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: translate(-100px, 40vh) rotate(0deg);
  }

  to {
    -webkit-transform: translate(-100px, 40vh) rotate(180deg);
  }

}