.container {
	padding: 1.5em;
	padding-bottom: 1em;
	border-radius: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #575759;
	row-gap: 0.5em;
}

.circularProgress {
	position: relative;
	height: 10em;
	width: 10em;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.progressValue {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80%;
	height: 80%;
	background-color: #575759;
	border-radius: 50%;
	flex-direction: column;
	font-size: 1.2em;
	color: rgb(242, 68, 89);
}

.progressValue p:first-of-type {
	font-size: 2em;
	font-weight: 500;
	color: greenyellow;
}

.text {
	color: #fff;
	font-weight: normal;
	font-family: var(--font-hiromisake);
	font-style: italic;
	font-size: 2em;
}